.titlePage, .rogerPage, .gearPage, .artistPage
  height 1000px
  position relative
  background-size cover
  background-position center

  @media screen and (max-width 850px)
    height 840px

.titlePage
  display flex
  align-items center
  justify-content center
  background-image url("app/assets/images/pianoRoom.jpg")

  .titleContainer
    display flex
    align-items center
    justify-content center
    flex-direction column
    text-align center
    color white

    h1
      font-size 8rem

    @media screen and (max-width 850px)
      h1
        font-size 3.8rem

      h2
        font-size 1.5rem
        letter-spacing 2rem
        padding-left 1rem

    @media screen and (min-width 850px)
      h2
        font-size 2.5rem
        letter-spacing 4rem
        padding-left 4rem
        margin-top -1rem

    h2
      font-weight 600
      color white

    hr
      width 100%
      margin-top 1rem

  .aboutContainer
    max-width 600px
    margin 6rem 4rem 0rem
    text-align left
    text-shadow 1px 1px 5px rgba(black, 0.8)
    color white

    a
      text-decoration underline

      &:hover
        color cornflowerBlue

  .spotifyPlayer
    position fixed
    top 1rem
    right 1rem
    z-index 100000
    border none
    box-shadow 0 .2rem .8rem black


.artistPage
  background-image url("app/assets/images/tileRoom.jpg")
  box-shadow inset 0 -40rem 10em rgba(black, .8)

  .artistListContainer
    display flex
    align-items flex-end
    height 90%
    margin 5rem

    @media screen and (max-width 850px)
      margin 2rem

  .artistList
    font-size 13px
    color white
    text-shadow 1px 1px 5px rgba(black, .4)

    h2
      color white
      @media screen and (max-width 850px)
        color black
      margin-bottom 8rem

.gearPage
  background-color black

  @media screen and (max-width 850px)
    height 1400px

  .slider
    z-index 0
    position absolute
    top 0
    left 0
    max-height 100%
    width 100%

    .sliderImage
      height 1000px
      width 100%
      background-size cover
      background-position center

  .overlay
    position absolute
    height 100%
    width 100%
    box-shadow inset 10rem -20rem 20em rgba(black, 1)

  .gearContainer
    padding 4rem 8rem 0

    @media screen and (max-width 850px)
      padding 4rem 2rem

  .gearList
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content space-around
    color white
    text-shadow 1px 1px 5px rgba(black, 0.8)

    .gearSection
      z-index 1000
      flex 1
      min-width 300px
      flex-basis 300px

    li
      word-wrap wrap

  .miscGearSection
    position relative
    z-index 1000
    color white
    text-shadow 1px 1px 5px rgba(black, 0.8)

  h4
    font-family monospace
    letter-spacing 0
    font-size 1.6rem
    color white

  ul
    padding 0
    margin 0 0 2rem

    li
      list-style-type none
      color white

.footer
  position relative
  z-index 10
  display flex
  align-items center
  justify-content flex-start
  padding 4rem
  background-color black
  color white

  a:hover
    color CornflowerBlue
