@import '~app/assets/stylesheets/normalize'
@import '~app/assets/stylesheets/skeleton'
@import '~app/assets/stylesheets/glyphicons'
@import '~app/assets/stylesheets/porter_sans'

:global

  html
    box-sizing border-box
    // Changing to this value so the rems are easier to calculate
    // 1.4rem = 14px
    // 2.4rem = 24px
    font-size 10px
    position relative

  *, *:before, *:after
    box-sizing inherit

  body
    position relative
    font-family Nunito
    font-size 1.4rem
    background-color #F0EFEF

  a
    text-decoration none
    cursor: pointer

  a, a:visited, a:hover, a:active
    color inherit

  button
    cursor pointer

  *
    box-sizing: border-box

  h1, h2, h3, h4
    font-family 'Porter Sans'
    letter-spacing -.5rem
    margin 0
